{% extends 'base.html' %} {% block title %}Dashboard{% endblock title %} 
{% block content %}
<br />
<div class="container"><h1 class="display-4">Dashboard</h1></div>
{% endblock content %} {% block privatecontent %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Datum</th>
        <th scope="col">Teen</th>
        <th scope="col">Elternteil</th>
        <th scope="col">Betrag</th>
      </tr>
    </thead>
    <tbody>
      {% for p in user.payment.all %}
      <tr>
        <td>{{ p.created }}</td>
        <td>{{ p.child }}</td>
        <td>{{ p.parent }}</td>
        <td>{{ p.payment}} 💵</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock privatecontent %}
